html {
    font-family: Hiragino Maru Gothic Pro,BIZ UDPGothic,Roboto,HelveticaNeue,Arial,sans-serif;
}

body {
    min-width: 150px;
}

.content {
    text-align: center;
    vertical-align: middle;
}

img.icon {
    vertical-align: middle;
    margin-right: 4px;
}